# Installation
`pip install mysql-connector-python`

Test MySQL Connector

To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

demo_mysql_test.py:
import mysql.connector

In [2]:
import mysql.connector
import pandas as pd

If the above code was executed with no errors, "MySQL Connector" is installed and ready to be used.

## Create Connection

Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="ujjwal06"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021DE024A390>

**host:** Specifies the host where the MySQL server is running. In this case, it's set to "localhost," meaning the MySQL server is on the same machine.

**user:** Specifies the MySQL username used to log in. (username: is "root" in general)

**password:** Specifies the password for the provided username. Here it was "ujjwal06"

**NOTE:** If the password is wrong, it gives an error.

## Execute a query

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
# databases = mycursor.fetchall()
# for database in databases:
#     print(database)
for database in mycursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [6]:
mycursor.execute("USE testdb")
mycursor.execute("SHOW TABLES")
for table in mycursor:
    print(table)

('student_data',)

In [7]:
# Execute a SQL query to select all records from the "student_data" table
mycursor.execute("SELECT * FROM student_data")

# Fetch all the rows
rows = mycursor.fetchall()

# Print the data
for row in rows:
    print(row)

(46123, 'Ujjwal Tyagi', 'EEE')
(70312, 'Tanishq Sharma', 'ECE')
(81463, 'Krishna Deekshit', 'IT')
(66375, 'Arnab Sharma', 'CSE')
(30801, 'Rahul Ojha', 'ICE')
(59716, 'Sapna Bhandari', 'EEE')
(12848, 'Jaysha Singyan', 'ICE')
(20174, 'Shrey Dhawan', 'CSE')
(91202, 'Anshuman Pandey', 'CSE')
(26021, 'Siddhant Jha', 'EEE')

## Reading a table into dataframe

In [8]:
# SQL query to select all records from the "student_data" table
query = "SELECT * FROM student_data"

# Use Pandas to read the data directly into a DataFrame
df = pd.read_sql(query, mydb)

# Print the DataFrame
print(df)

   roll_number              name department
0        46123      Ujjwal Tyagi        EEE
1        70312    Tanishq Sharma        ECE
2        81463  Krishna Deekshit         IT
3        66375      Arnab Sharma        CSE
4        30801        Rahul Ojha        ICE
5        59716    Sapna Bhandari        EEE
6        12848    Jaysha Singyan        ICE
7        20174      Shrey Dhawan        CSE
8        91202   Anshuman Pandey        CSE
9        26021      Siddhant Jha        EEE

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_24980\3738099141.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mydb)

The warning you're seeing indicates that the read_sql function from Pandas is designed to work with SQLAlchemy connections or database string URIs. However, it does support using a MySQL Connector connection as well.

The warning can be safely ignored in this context as the DataFrame seems to be correctly populated with the data from the "student_data" table.